.primary-button {
  padding: 5px 20px;
  border-radius: 5px;
  outline: none;
  background-color: #0067c5;
  color: white;
  border: none;
  height: 35px;
  font-size: 14px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.primary-button:hover {
  background-color: #2e7fca;
}
.card-content {
  padding: 10px 0;
}
